<h1>Survey List</h1>

<% if @surveys.any?() %>
<p>here is a list of available surveys</p>

<ul>
  <% @surveys.all().each() do |survey| %>
  <li><a href="/survey/<%= survey.id %>"><%= survey.name %></a> </li>
  <% end %>
</ul>
<% else %>

<p>There are no surveys to display</p>


<% end %>
<br>
<a href="/survey/add" class="btn btn-primary">Add</a>
